/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
.site-logo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.site-logo-text {
  display: none;
}
.outer-wrap.outer-wrap-main {
  margin: auto;
}
.region-flash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
p,
li {
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: chocolate;
  font-size: 2em;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: chocolate;
}
.site-logo .rm-navbar {
  /*position: sticky; */
  top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; */
  background-color: none;
}
.rm-navbar ul {
  text-decoration: none;
}
.rm-navbar li {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  border: 1px solid gray;
  text-decoration: none;
}
.rm-navbar a {
  text-decoration: none;
}
.rm-navbar a:link {
  color: chocolate;
  display: inline-block;
  padding: 0.5em 1.2em;
}
.rm-navbar a:hover {
  background-color: gray;
  text-decoration: underline;
}
.rm-navbar .selected {
  background-color: chocolate;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.row-main,
.columns,
.block.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.column {
  width: 30%;
  margin: 1rem;
}
.column:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}
.outer-wrap-main {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}
.inner-wrap-main {
  margin: 0 auto;
  width: 1100px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  display: inline;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
html {
  overflow-y: scroll;
  background-color: #fff;
  min-height: full-height;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100%/1 'Lato', sans-serif;
}
h1 {
  font-family: "Montserrat", "Gill Sans", sans-serif;
  text-transform: uppercase;
  color: #ff66c4;
  font-size: 3em;
}
h2,
h4 {
  font-family: "Montserrat", "Gill Sans", sans-serif;
  text-transform: uppercase;
  color: #ff66c4, #fff;
  font-size: 2em, 1em;
}
p {
  size: 1.2em;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.outer-wrap-header {
  position: sticky;
  top: 1px;
  background-color: #041b3a;
}
.outer-wrap-flash {
  background-image: url("../img/theme/Happyflash.png");
  background-size: 100%;
}
.outer-wrap-footer {
  background-color: #F9CEE8;
}
.site-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.site-logo-text {
  display: none;
}
.outer-wrap.outer-wrap-main {
  margin: auto;
}
.region-flash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; */
  background-color: none;
}
.my-navbar li {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  border: 1px solid gray;
  text-decoration: none;
}
.my-navbar a {
  text-decoration: none;
  color: white;
}
.my-navbar a:link {
  color: white;
  display: inline-block;
  padding: 0.5em 1.2em;
}
.my-navbar a:hover {
  text-decoration: underline;
}
.my-navbar .selected {
  background-color: chocolate;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.row-main,
.columns,
.block.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.column {
  width: 30%;
  margin: 1rem;
}
.column:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}
.outer-wrap-main {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  display: inline;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
